<div class="content">
    <section class="account-block">
        <div class="accounts">
            <div class="accounts-header">
                <h3>Счета</h3>
                <a id="createAccount" class="button" onclick="document.getElementById('createAccountModal').style.display='block'">
                    <i class="fa fa-plus"></i>
                    Добавить счет
                </a>

                <div id="createAccountModal" class="modal">
                    <form class="modal-content animate" method="POST" action="/wallet/account">
                        <div class="container">
                            <h3 class="modal-title">Создать счёт</h3>

                            <label for="account_name"><b>Название счета</b></label>
                            <input type="text" name="name" placeholder="Введите название счета" id="account_name" required>

                            <label for="currency"><b>Валюта</b></label>
                            <select id="currency_select" name="currency">
                                {{#each viewData.currencies}}
                                    <option>{{name}}</option> 
                                {{/each}}
                            </select>

                            <label for="account_type"><b>Тип счета</b></label>
                            <select id="account_type_select" name="accountType">
                                {{#each viewData.accountTypes}}
                                    <option>{{this}}</option> 
                                {{/each}}
                            </select>

                            <button class="submit" type="submit">Создать</button>
                        </div>
                    </form>
                </div>

                <div id="editAccountModal" class="modal">
                    <form id="editAccountForm" class="modal-content animate" method="POST">
                        <div class="container">
                            <h3 class="modal-title">Редактировать счёт</h3>

                            <input type="hidden" name="id" id="edit_account_id">
                            <!-- Moved hidden input here -->

                            <label for="edit_account_name"><b>Название счета</b>{{name}}</label>
                            <input type="text" name="name" id="edit_account_name" required>

                            <label for="edit_currency"><b>Валюта</b></label>
                            <select name="currency" id="edit_currency_select">
                                {{#each viewData.currencies}}
                                    <option>{{name}}</option> 
                                {{/each}}
                            </select>

                            <label for="edit_account_type"><b>Тип счета</b></label>
                            <select name="accountType" id="edit_account_type_select">
                                {{#each viewData.accountTypes}}
                                    <option>{{this}}</option> 
                                {{/each}}
                            </select>
                            <label for="edit_account_is_active">
                                <b>Счёт активен</b>
                                <input type="checkbox" name="isActive" id="edit_account_is_active">
                            </label>

                            <button class="submit" type="submit">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="accounts-body">
                <table id="account-table">
                    {{#each viewData.accounts}}
                    <tr>
                        <td>
                            <div class="icon"><i class="fa fa-bank"></i></div>
                        </td>
                        <td class="hidden">
                            {{id}}
                        </td>
                        <td>
                            {{title}}
                            <div class="subtitle">Название</div>
                        </td>
                        <td>
                            {{totalAmount}}
                            <div class="subtitle">Количество</div>
                        </td>
                        <td>
                            {{currency.name}}
                            <div class="subtitle">Валюта</div>
                        </td>
                        <td>
                            {{#if isActive}}
                                <div class="active"><i class="fa fa-circle"></i>
                                <span class="btn-a">Активный</span></div>
                            {{else}}
                                <div class="unactive"><i class="fa fa-circle"></i>
                                <span class="btn-a">Неактивный</span></div>
                            {{/if}}
                        </td>
                        <td class="type">
                            {{accountType}}
                            <br><span class="type">Тип счета</span>
                        </td>
                        <td>
                            <a href="#" class="button" onclick="openEditModal('{{id}}', '{{title}}', '{{currency.name}}', '{{accountType}}', '{{isActive}}')">
                                <div class="edit-btn"><i class="fa fa-pencil"></i></div>
                            </a>
                        </td>
                        <td>
                            <a href="#" class="button delete-btn" onclick="deleteAccount('{{id}}')">
                                <div class="delete-btn"><i class="fa fa-trash"></i></div>
                            </a>  
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </section>
</div>